---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import CertsAndEducation from '../components/CertsAndEducation.astro';
import Skills from '../components/Skills.astro';
import Certificates from '../components/Certificates.astro';
import Contact from '../components/Contact.astro';
---
<Layout title="Priyanshu Singh | AI & ML Developer">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Projects />
    <CertsAndEducation />
    <Skills />
    <Certificates />
    <Contact />
  </main>
</Layout>
